* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* #root {
} */

.container {
  background-color: white;
  width: 550px;
  margin: 40px auto;
  /* border: solid 1px black; */
  border-radius: 10px;
}

/* *** NAV *** */

.navbar {
  height: 70px;
  width: 100%;
  position: relative;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.logo {
  position: absolute;
  width: 83px;
  top: 25px;
  left: 30px;
}

/* *** HERO *** */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.hero--img {
  width: 395px;
  align-self: center;
}

.hero--title {
  padding: 10px;
  font-size: 36px;
  font-weight: 600;
}

.hero--p {
  padding: 10px;
  width: 320px;
  font-size: 16px;
  font-weight: 300;
  color: #222222;
}

/* *** CARD *** */

.cards--container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.card {
  width: 176px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  position: relative;
  font-size: 13px;
}

.card--status {
  padding: 2px;
  position: absolute;
  margin: 10px;
  width: 61px;
  height: 20px;
  font-size: 11px;
  color: #222222;
  text-align: center;
  font-weight: 400;
  background-color: white;
  border-radius: 2px;
  display: inline-flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.card--img {
  border-radius: 9px;
  margin-bottom: 10px;
}

.card--container p {
  padding-top: 5px;
}

.card--container-review {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.card--review-star {
  width: 18px;
}

.card--review-p span {
  padding: 3px;
}

.card--container-type {
  display: flex;
  align-items: center;
  height: 45px;
}

.card--review-country {
  color: #918e9b;
}

.card--review-reviews {
  color: #918e9b;
}

.card--container-cost {
  font-weight: 600;
  margin-top: 2px;
}
